@model EmployeeReview.Controllers.EmployeeReview

@{
    ViewBag.Title = "Employee Review Details";
}

<h2>Employee Review Details</h2>

<div>
    @*<h4>EmployeeReview</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.TitleDept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.TitleDept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfHire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfHire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Employee Review List", "Index") |
    @Html.ActionLink("Home", "../Home/Index")
</p>
