@model IEnumerable<EmployeeReview.Controllers.EmployeeReview>

@{
    ViewBag.Title = "Employee Reviews";
}

<h2>Employee Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Home", "../Home/Index")
</p>
<!--Remove header-->
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title.TitleDept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfHire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>


    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.TitleDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfHire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@

<!--Columns-->
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div id="columnBorder">
                @*<p>@Html.DisplayFor(modelItem => item.DepartmentName.DepartmentName)</p>

                <p>@Html.DisplayFor(modelItem => item.Title.TitleDept)</p>*@

                <p>Employee name: @Html.DisplayFor(modelItem => item.EmployeeName)</p>

                @*<p>@Html.DisplayFor(modelItem => item.DateOfHire)</p>*@

                <p>Review date: @Html.DisplayFor(modelItem => item.ReviewDate)</p>

                @*<p>@Html.DisplayFor(modelItem => item.Probation)</p>*@

                <p>Comments: @Html.DisplayFor(modelItem => item.Comments)</p>

                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </p>
            </div>
        </div>
    }
</div>





